
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Ukraina, Ryssland, Kulturförening, Göteborg, Ukrainska, Förening, Ruslana" />
    <meta name="description" content="Kulturföreningar med Ukrainsk anknytning " />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- Bootstrap -->
@*    @Styles.Render("~/Content/css/bootstrap.min.css")*@

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css/custom.css")

    @*denna vet jag inte var den kommer ifrån
    <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script language="text/javascript">
        $(document).ready(function () {
            $('#carousel-example-generic').carousel({
                //options here
            });
        });
    </script>

</head>
<body>

    <div class="container">
        <div class="col-md-4">
            <a href="/"><img src="@Url.Content("~/Images/logo2.png")" /></a>
        </div>
        <div class="col-md-8">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*<a class="navbar-brand" href="#">Brand</a>*@
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/Blogg/">Blogg</a></li>
                            <li><a href="http://public.fotki.com/uskfgbg/ukrainskt-svenskt-k/" target=" _blank">Fotoalbum</a></li>
                            <li><a href="/Medlemsskap/">Formulär Medlemsskap</a></li>
                            <li><a href="/Kontakt/">Kontakt</a></li>
                            <li><a href="/Links/">Länkar</a></li>
                            <li><a href="/Verksamhet/">Verksamhet</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Webbradio</h3>
                    </div>
                    <div class="panel-body">
                        <script src="http://mediaplayer.yahoo.com/js" type="text/javascript"></script>
                        <p>
                            Lyssna här:
                            <br />
                            <a href="http://webbradio1.intinor.se:8000/mnf.mp3">
                                <img src="@Url.Content("~/Images/radio1.jpg")" class="img-responsive" />
                            </a>
                        </p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hymn</h3>
                    </div>
                    <div class="panel-body">
                        <iframe class="img-responsive" src="http://www.youtube.com/embed/dJeLiPnz6E8?rel=0&fs=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-2">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tvopit' UAVisti!</h3>
                    </div>
                    <div class="panel-body">
                            <h3>Tvopit' UAVisti!</h3>
                        <p>
                            Nadsylaite svoi Visti, my ix rozmistymo.
                            <br />Proponuemo dilovu spivpraciu:
                            <br>
                            <a href="http://uavisti.narod.ru/contact.htm" target="_blank">
                                <strong>ZAPROSHUEMO</strong>
                            </a>
                        </p>
                        <hr />
                        <p>
                            <a href="http://uanew.narod.ru/vistka.htm" target="_blank">
                                <strong>Visti z Ukraina<br>i vid ukrainskix hromad svitu &gt;&gt;&gt;</strong>
                            </a>
                        </p>
                        <hr />
                        <p>
                            <strong>Shchyro bajaemo Vam uspixiv!<br>Z povahoyu,<br>Yaroslav<br>UAVisti<br>E-mail: </strong>
                            <a href="mailto:uavisti@ya.ru"><span style="text-decoration: underline;"><span style="color: rgb(0, 0, 255);"><strong>uavisti@ya.ru</strong></span></span></a>
                            <br>
                            <strong>Site: </strong>
                            <a href="http://uanew.narod.ru/zmi.htm" target="_blank"><strong>uanew.narod.ru/zmi.htm</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <a href="@Url.Content("~/Images/folksamryska.docx")">FOLKSAM Ryska (MS word)</a>
                        <br />
                        Länk till video på Ryska:
                        <br />
                        <a href="http://www.folksam.se/kundservice/otherlanguages/russian">
                            <img src="@Url.Content("~/Images/folksam.jpg")" width="120" />
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        SAMARBETSPARTNER:
                        <br />
                        <img border="0" src="@Url.Content("~/Images/ABF_logga_ska_vara.jpg")" style="border: 0;" width="120" />
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        SAMARBETSPARTNER:
                        <br />
                        <img border="0" src="@Url.Content("~/Images/sios_logo.gif")" style="border: 0;" width="120" />
                    </p>
                </div>
            </div>

        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@

</body>
</html>